// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin border1 {
	border-bottom: 5px solid $color__das-blue;
}
@mixin border2 {
	border-bottom: 1px solid $color__das-grey;
}
@mixin border3 {
	border-bottom: 1px dotted $color__das-grey;
}
@mixin border4 {
	border-left: 3px solid $color__das-blue;
}
@mixin border5 {
	border-bottom: 2px solid $color__das-white;
}
@mixin border6 {
	border-bottom: 5px solid $color__das-white;
}
@mixin border7 {
	border-left: 3px solid $color__das-grey;
}
@mixin border8 {
	border-bottom: 3px solid $color__das-grey;
}

@mixin translateX($value){
	-ms-transform: translateX($value);
	-moz-transform: translateX($value);
	-webkit-transform: translateX($value);
	-o-transform: translateX($value);
	transform: translateX($value);
}
@mixin transformNone{
	-ms-transform: none;
	-moz-transform: none;
	-webkit-transform: none;
	-o-transform: none;
	transform: none;
}
@mixin translateY($value){
	-ms-transform: translateY($value);
	-moz-transform: translateY($value);
	-webkit-transform: translateY($value);
	-o-transform: translateY($value);
	transform: translateY($value);
}
@mixin translateXY($xvalue,$yvalue){
	-ms-transform: translate($xvalue,$yvalue);
	-moz-transform: translate($xvalue,$yvalue);
	-webkit-transform: translate($xvalue,$yvalue);
	-o-transform: translate($xvalue,$yvalue);
	transform: translate($xvalue,$yvalue);
}