
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.float-left {float: left;}
.float-right{float: right;}
.wrapper {
	width: 100%;
	margin: 0px auto;
}

#primary.content-area {
	width: 100%;
	margin: 0px auto;
	display: table;
}

#logo {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	top: 20%;
}

#primary {
	> .right-column {
		width: 80%;
		display:table-cell;
	}
	> .left-column {
		width: 20%;
		display: table-cell;
		#sidebar {
			.logo.wrapper {
				min-height: $size__header-height;
			}
			.nav.wrapper {
				height: 100%;
				
			}
		}
	}
}

#site-header {
	width: 100%;
	display: block;
	min-height: $site__header-height;
	.company-info {
		text-align: right;
		p {
			margin: 10px 0;
		}
	}
	nav {
		display: block;
		margin: 0;
		padding: 0;
		ul {
			margin: 0 0 0 auto;
			padding: 0;
			display: table;
			li {
				display: table-cell;
				margin: 0;
				padding: 5px;
			}
		}
	}
}

#colophon {
	width: 100%;
	display: table;
	position: relative;
	.wrapper {
		position: relative;
		> * {
			display: table-cell;
		}
	}
}
#colophon::before {
	content:"";
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	background-color: $color__das-blue;
	opacity: .8;
}

/*
.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 1200px;
	}
}
*/

/* Logo 
.logo , h1.logo {
	width: 300px;
	height: 200px;
	background-image: url(images/logo.png);	
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 200px;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 1200px;
	}
}

.logo a, h1.logo a {
	width: 300px;
	height: 200px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 200px;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 1200px;
	}
}
*/