
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.float-left {float: left;}
.float-right{float: right;}
.wrapper {
	width: 100%;
	margin: 0px auto;
}

#primary {
	width: 100%;
	margin: 0px auto;
	#site-header {
		width: 100%;
		display: block;
		position:relative;
		min-height: $size__header-height;
		.false-logo-wrapper.wrapper {
			width: $size__main-sidebar;
			position: relative;
			float: left;
			.false.logo {
				width: $size__logo-width;
				min-width: $size__logo-width;
				margin: 0 auto;
				padding: 0;
			}
		}
		.logo.wrapper {
			width: $size__main-sidebar;
			position:absolute;
			bottom:0;
			left:0;
			.false.logo {
				width: $size__logo-width;
				min-width: $size__logo-width;
				margin: 0 auto;
				padding: 0;
			}
			#logo {
				width: $size__logo-width;
				min-width: $size__logo-width;
				margin: 0 auto;
				padding: 0;
				position: absolute;
				left: (100%-$size__logo-width)/2;
				bottom: -25%;
			}
		}
		.company-info-nav.wrapper {
			width: 100%-$size__main-sidebar;
			margin: 0 0 0 auto;
			.company-info {
				text-align: right;
				p {
					margin: 10px 0;
				}
			}
			nav {
				display: block;
				margin: 0;
				padding: 0;
				ul {
					margin: 0 0 0 auto;
					padding: 0;
					display: table;
					li {
						display: table-cell;
						margin: 0;
						padding: 5px;
					}
				}
			}
		}
	}
	#site-header::after {
		content:"";
		display: block;
		clear:both;
	}
	.main-sidebar.wrapper {
		display: block;
		position: relative;
		width: 100%;
		padding: 0 20px;
		.sidebar.wrapper {
			position: absolute;
			top:0;
			left:0;
			width: $size__main-sidebar;
			#sidebar {
				width: 100%;
			}
		}
		#main {
			width: 100%-$size__main-sidebar;
			position: relative;
			left: $size__main-sidebar;
			.video-copy.wrapper {
				.video.wrapper {
					float: right;
					width: auto;
					.link.full-article {
						text-align: right;
					}
				}
				.copy {
					> p:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
	.main-sidebar.wrapper::before {
		content: "";
		position: absolute;
		top:0;
		left: 0;
		width: $size__main-sidebar;
		height: 100%;
		background-color: $color__das-blue;
		z-index: -1;
	}
}

#colophon {
	width: 100%;
	display: table;
	position: relative;
	.wrapper {
		position: relative;
		> * {
			display: table-cell;
		}
	}
}
#colophon::before {
	content:"";
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	background-color: $color__das-blue;
	opacity: .8;
	z-index:-1;
}

/*
.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 1200px;
	}
}
*/

/* Logo 
.logo , h1.logo {
	width: 300px;
	height: 200px;
	background-image: url(images/logo.png);	
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 200px;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 1200px;
	}
}

.logo a, h1.logo a {
	width: 300px;
	height: 200px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 200px;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 1200px;
	}
}
*/