body {
	font-family: 'Quattrocento Sans', sans-serif;
	word-break: keep-all;
	@include hyphens(none);
}
.clear {clear: both;}
.clear-bottom:after {
	clear: both;
	content: "";
	display: block;
}
.float-left {float: left;}
.float-right{float: right;}
.wrapper {
	width: 100%;
	margin: 0px auto;
}
h2,h3,h4,h5,h6 {
	color: $color__das-blue;
}
h1 {
	font-size: $font__size-large;
}
h2 {
	font-size: $font__size-medium;
}
h3 {font-size: $font__size-small;}

p {
	font-size: $font__size-medium;
	margin: 20px 0;	
}
.copy a  {color: $color__text-main;}
a.surrounding {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	top: 0;
	left: 0;
}
.video {
	min-width: 150px;
}
.copy {
	> *:first-child {
		margin-top: 0;
		padding-top: 0;
	}
	> *:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}
a:hover, .thumbnail.wrapper .thumbnail:hover, .video.wrapper .video:hover, .link {
	cursor: pointer;
}
blockquote {
	@include border9;
	font-size: $font__size-extra-large;
	margin: 0;
	padding: 0;
	font-weight: 700;
	@media screen and (max-width: $mobilelandscapewidth) {
		font-size: $font__size-medium;
	}
	p {
		font-size: inherit;
		margin: 5px 10px;
	}
}
#primary {
	width: 100%;
	margin: 0px auto;
	#site-header.clear-bottom {
		width: 100%;
		display: block;
		position:relative;
		min-height: $size__header-height;
		@media screen and (max-width: $mobilelandscapewidth) {
			min-height: 0;
		}
		.false-logo.wrapper.left-column {
			width: $size__main-sidebar;
			position: relative;
			float: left;
			@media screen and (max-width: $mobilelandscapewidth) {
				display: none;
			}
			.false.logo {
				width: $size__logo-width;
				min-width: $size__logo-width;
				margin: 0 auto;
				padding: 0;
			}
		}
		.mobile-logo.wrapper.left-column {
			width: $size__logo-width-mobile;
			display: none;
			float: left;
			padding: 10px 0 0 10px;
			@media screen and (max-width: $mobilelandscapewidth) {
				display: block;
			}
			#mobilelogo {
				width: 100%;
				margin: 0 auto;
			}
		}
		.company-info-nav.wrapper.right-column {
			width: 100%-$size__main-sidebar;
			margin: 0;
			float: right;
			padding: 30px $size__page-right-margin 0 2%;
			@media screen and (max-width: $mobilelandscapewidth) {
				padding-top: 0;
				text-align: right;
				width: 100%-$size__logo-width-mobile;
			}
			.company-info {
				padding: 1px;
				text-align: right;
				color: $color__das-grey;
				@media screen and (max-width: $mobilelandscapewidth) {
					display: none;
				}
				.info-social.wrapper {
					margin: 40px 0 10px 0;
					display: block;
					p.info {
						vertical-align: middle;
						margin: 0;
						font-size: $font__size-medium-small;
						display: inline-block;
					}
					.social {
						vertical-align: middle;
						display: inline-block;
						font-size: $font__size-large;
						padding: 0;
						margin: 0;
						position: relative;
						li {
							padding: 0 0 0 10px;
							display: block;
							float: left;
							list-style: none;
							a {
								color: inherit;
							}
						}
					}
				}
				p.main-line {
					font-size: $font__size-medium-large;
					margin: 0 0 10px 0;
				}
			}
			h1.title {
				text-align: right;
				color: $color__das-blue;
				text-transform: uppercase;
				font-size: $font__size-medium-large;
				padding: 0;
				margin: 20px 0 0 0;
				@media screen and (max-width: $mobilelandscapewidth) {
					display: inline-block;
				}
			}
			.mobile.hamburger {
				color: $color__das-blue;
				text-transform: uppercase;
				font-size: $font__size-medium-large;
				margin: 20px 0 0 10px;
				display: none;
				@media screen and (max-width: $mobilelandscapewidth) {
					display: inline-block;
				}
			}
			nav.desktop.portfolio, h1.title.portfolio {
				padding-right: 6.0%;
			}
			nav.desktop {		
				clear:right;
				display: block;
				padding: 0 0 30px 0;
				margin: 5% 0 0 0;
				@media screen and (max-width: $midwidth) {
					font-size: $font__size-small;
				}
				@media screen and (max-width: $mobilelandscapewidth) {
					display: none;
				}
				&.w-title {
					margin: 0;
				}
				&.about {
					ul {
						li {
							&:first-child {
								padding-left: 7px;
								&:before {
									display: none;
								}
							}
						}
					}
				}
				&.portfolio {
					ul {
						li {
							&:nth-child(2) {
								padding-left: 7px;
								&:before {
									display: none;
								}
							}
						}
					}
				}
				ul {
					margin: 0 0 0 auto;
					padding: 0;
					display: table;
					text-align: center;
					.descriptor {
						color: $color__text-main;
						text-transform: uppercase;
						font-size: $font__size-medium-small;
						font-weight: 700;
					}
					li {
						display: inline-block;
						margin: 0;
						padding: 0 0 10px 0 ;
						text-transform: uppercase;
						font-size: $font__size-medium-small;
						@media screen and (max-width: $tabwidth) {
							padding: 2px;
						}
						&:before {
							content: "|";
							padding: 0 7px;
						}
						a {	
							color: $color__das-grey;
							padding: 0 0 5px 0;
							&.active {
								color: $color__text-dark;
								font-weight: 700;
								border-bottom: 3px solid $color__text-dark;
							}
							&:hover {
								color: $color__das-blue;
							}
						}
					}
				}
			}
			nav.mobile {
				display: none;
				position: fixed;
				right: -1*$size__mobile-sidebar;
				top: 0;
				width: $size__mobile-sidebar;
				background-color: $color__das-blue;
				z-index: 2;
				overflow: scroll;
				height: 100%;
				padding: 30px 0 0 0;
				text-align: left;
				@media screen and (max-width: $mobilelandscapewidth) {
					display: block;
					width: $size__mobile-sidebar+10%;
					right: (-1*$size__mobile-sidebar)-10%;
				}
				@media screen and (max-width: $mobileportraitwidth) {
					font-size: $font__size-medium-small;
				}
				@media screen and (max-width: $mobiletinywidth) {
					font-size: $font__size-small;
				}
				.mobile.hamburger {
					color: $color__das-white;
					text-transform: uppercase;
					font-size: $font__size-medium-large;
					margin: 0 0 20px 10%;
				}
				ul {
					margin: 0;
					padding: 0;
					.descriptor {
						padding: 0 0 0 10%;
						text-transform: uppercase;
						font-weight: 700;
					}
					li {
						margin: 0;
						padding: 0 0 0 10%;
						list-style-type: none;
						text-transform: uppercase;
						@media screen and (max-width: $mobileportraitwidth) {
							padding-top: 5px;
						}
						@media screen and (max-width: $mobiletinywidth) {
							padding-top: 8px;
						}
					}
				}
			}
		}
	}
	.main-sidebar.wrapper.clear-bottom {
		display: block;
		position: relative;
		width: 100%;
		#main.right-column {
			width: 100%-$size__main-sidebar;
			float: right;
			padding: 0 $size__page-right-margin*3/4 20px $size__page-left-margin;
			min-height: 800px;
			@media screen and (max-width: $mobilelandscapewidth) {
				float: none;
				min-height: 0;
				width: 100%;
			}
			&.single-portfolio {
				padding-left: $size__page-left-margin/2;
			}
			&.about, &.process, &.single-page {
				padding-left: $size__page-left-margin*2;
			}
		}
	}
}

#colophon {
	width: 100%;
	position: relative;
	min-height: 300px;
	color: white;
	&:before {
		content:"";
		width: 100%;
		height: 100%;
		top: 0;
		position: absolute;
		background-color: $color__das-blue;
		opacity: .6;
		z-index:-1;
	}
	* {font-size: $font__size-medium-small;}
	nav {
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				margin-left: 10px;
			}
			> li {
				padding: 0;
				margin: 0;
				list-style:none;
			}
		}
	}
	.footer.wrapper.clear-bottom {
		padding: 75px;
		@media screen and (max-width: $mobilelandscapewidth) {
			padding: 15px;
		}
		.float-left.company-info-footer-links.wrapper {
			text-align: left;
			width: auto;
			@media screen and (max-width: $mobilelandscapewidth) {
				float:none;
				width: 100%;
				text-align: center;
				margin: 0 auto;
			}
			.company-info {
				font-weight: 600;
				.company-name {
					margin: 0 0 20px 0;
				}
				.main-line {
					margin: 20px 0 0 0;
				}
				.fax-line {
					margin: 0;
				}
				.toll-free-line {
					margin: 0 0 20px 0;
				}
			}
			.footer-links-menu {
				margin: 20px 0 0 0;
			}
		}
		.float-right.company-location-sitemap-bw.wrapper {
			text-align: right;
			width: auto;
			@media screen and (max-width: $mobilelandscapewidth) {
				float:none;
				width: 100%;
				text-align: center;
				margin: 0 auto;
			}
			.company-location {
				@media screen and (max-width: $mobilelandscapewidth) {
					margin: 20px 0 0 0;
				}
				.location {
					margin-bottom: 20px;
					p {
						margin:0;
					}
				}
				.google-maps-location {
					margin: 20px 0 15px auto;
					width: 200px;
					height: 150px;
					@media screen and (max-width: $mobilelandscapewidth) {
						margin: 20px auto 15px auto;
					}
				}
				.address {
					margin: 15px 0 0 0;
				}
				.city-state-zip {
					margin: 0 0 20px 0;
				}
			}
			.sitemap-bw-menu {
				margin: 20px 0 0 0;
				ul {
					> li {
						display: inline-block;
						margin: 0 0 0 5px;
					}
				}
			}
		}
	}
	.background-image.wrapper {		
		background-size: cover;
		background-repeat: no-repeat;
		background-position: left top;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index: -2;
	}
}
/*
.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 1200px;
	}
}
*/

/* Logo 
.logo , h1.logo {
	width: 300px;
	height: 200px;
	background-image: url(images/logo.png);	
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 200px;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 1200px;
	}
}

.logo a, h1.logo a {
	width: 300px;
	height: 200px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		height: 200px;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 1200px;
	}
}
*/