/* Pagination
-------------------------------------------------------------- */
.pagination.wrapper {
	nav.pagination {
		margin: 0 auto;
		clear: both;
		display: table;
	
		ul {
			margin: 0;
			padding: 0;
		}
	
		li {
			margin: 0;
			display: inline;
			list-style: none;
		}
	}
	 
	nav.pagination li a, {
		color: $color__text-main;
		background-color: $color__das-grey;
		cursor: pointer;
		padding: 12px;
		padding: 0.75rem;
		@include transition(.3s ease all);
	}
	 
	nav.pagination li a:hover,
	nav.pagination li.active a {
		background-color: $color__das-blue;
		color: $color__text-main;
	}
}