.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

#sidebar.left-column {
	width: $size__main-sidebar;
	background-color: $color__das-blue;
	position: fixed;
	z-index: 0;
	height: 100%;
	top:0;
	left: 0;
	@media screen and (max-width: $mobilelandscapewidth) {
		display: none;
	}
	.logo.wrapper {
		background-color: white;
		position: relative;
		.false.logo {
			width: $size__logo-width;
		}
		#logo {
			width: $size__logo-width;
			margin: 0;
			padding: 0;
			position: absolute;
			bottom: 0;
			left: (100%-$size__logo-width)/2;
			@include translateY(27%);
		}
	}
	.nav.wrapper {
		padding: 50px 0;
		#site-nav {
			text-align: right;
			margin-right: 15%;
			font-size: $font__size-large;
			ul {
				margin: 0;
				padding: 0;
				> li {
					list-style: none;
					margin: 0;
					padding: 10px;
					color: white;
					&.current_page_item {
						@include translateX($size__homepage-sidebar-active-bar-width);
						> a {
							&:after {
								content: "";
								display: inline-block;
								@include border6;
								width: $size__homepage-sidebar-active-bar-width;
								@include translateXY(30%,-100%);
							}
						}
					}
				}
			}
		}
	}
}