#home-primary {
	#main {
		section.slider {
			position: relative;
			display: block;
			margin: 0;
			#homepage-sidebar{
				width: $size__main-sidebar;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				.logo.wrapper {
					position: relative;
					&:before {
						content: "";
						background-color: white;
						opacity: 0.3;
						width: 100%;
						height: 100%;
						z-index: -1;
						position: absolute;
						top: 0;
						left: 0;
					}
					#logo {
						width: $size__logo-width;
						margin: 0 auto;
						padding: 0;
						display: block;
						@include translateY(27%);
					}
				}
				.nav-info.wrapper {
					padding: 70px 15% 50px 0;
					position: relative;
					&:before {
						content: "";
						background-color: $color__das-blue;
						opacity: 0.3;
						width: 100%;
						height: 100%;
						z-index: -1;
						position: absolute;
						top: 0;
						left: 0;
					}
					#site-nav {
						text-align: right;
						margin: 0 0 50px 0;
						font-size: $font__size-large;
						ul {
							margin: 0;
							padding: 0;
							> li {
								list-style: none;
								margin: 0;
								padding: 10px;
								color: $color__das-white;
							}
						}
					}
					.company-info {
						text-align: right;
						margin: 50px 0 0 0;
						p {
							margin: 0;
							color: $color__das-white;
							font-size: $font__size-medium-small;
							padding: 0 0 0 5px;
						}
						.social.wrapper {
							margin: 15px 0;
						}
						.electronic-info {
							margin: 15px 0 ;
							.company-name {
								margin: 15px 0 ;	
							}
							.contact-email span {
								@include border5;
								display: inline-block;
								padding: 0 0 0 5px;
							}
						}
						.address {
							margin: 15px 0 0 0;
						}
					}
				}
			}
			.flexslider {
				width: 100%;
				margin: 0 !important;
				.slides {
					.slide {
						position: relative;
						background-position: center;
						background-size: cover;
						height: 100%;
						.info {
							position: absolute;
							bottom: 10%;
							right: 10%;
							.type.box {
								background-color: $color__das-grey;
								padding: 5px 15px;
								font-size: $font__size-medium-small;
								display: inline-block;
								color: $color__text-dark;
								margin: 10px 0;
							}
							.title {
								color: $color__das-white;
								font-size: $font__size-medium;
							}
						}
					}
				}
			}
		}
	}
	section.featured-project.clear-bottom {
		display: table;
		margin: 0;
		padding: 40px;
		width: 100%;
		.process.left-column {
			width: $size__homepage-process-width;
			display: table-cell;
			vertical-align: middle;
			padding: 0 110px 0 20px;
			@include border4;
			.company-name {
				font-size: $font__size-medium-small;
				color: $color__das-blue;
				text-transform: uppercase;
			}
			.process-description p {
				font-size: $font__size-extra-extra-large;
			}
			.link.box {
				color: $color__das-white;
				background-color: $color__das-blue;
				padding: 5px;
				display: inline-block;
				.process-link-text a {
					font-size: $font__size-medium-small;
					color: inherit;
				}
			}
			.process-image {
			
			}
		}
		.featured-video.right-column {
			width: 100%-$size__homepage-process-width;
			display: table-cell;
			vertical-align: middle;
			header.box {
				display: inline-block;
				margin: 10px 0;
				color: $color__das-white;
				background-color: $color__das-blue;
				padding: 5px;
				h2 {
					margin: 0;
					font-weight: 500;
					text-transform: uppercase;
					font-size: $font__size-medium-small;
				}
			}
			.video-section.wrapper {
				.video.left-column { 
					float: left;
					width: $size__homepage-process-featured-video-width;
					iframe {
						width: 100%;
					}
				}
				.description.right-column {
					float: right;
					width: 100%-$size__homepage-process-featured-video-width;
					padding: 0 20px;
					.video-description p {
						font-size: $font__size-medium-small;
					}
					.full-article.link {
						color: $color__text-main;
						@include border1;
						display: inline-block;
						a {
							color: inherit;
							&:hover {
								color: $color__das-blue;
							}
						}
					}
				}
			}
		}
	}
	section.news {
		position: relative;
		padding: 30px 70px;
		background-color: $color__das-yellow;
		.link.box {
			position: absolute;
			top: 0;
			left: 50%;
			@include translateX(-50%);
			color: $color__das-white;
			background-color: $color__das-blue;
			padding: 5px;
			h2 {
				margin: 0;
				font-weight: 500;
				text-transform: uppercase;
				font-size: $font__size-medium-small;
			}
		}
		.news.wrapper.is-container {
			.news.item.clear-bottom {
				background-color: $color__box-background-1;
				display: inline-block;
				width: (100%-(2*$size__homepage-news-margin-width*$size__homepage-news-span))/$size__homepage-news-span;
				margin: $size__homepage-news-margin-width;
				position: relative;
				.info.wrapper {
					padding: 15px;
					.date.box {
						color: $color__das-blue;
						font-size: $font__size-small;
					}
					.title {
						font-size: $font__size-medium-small;
						font-weight: 500;
					}
					.link.full-article {
						font-size: $font__size-medium-small;
						text-transform: uppercase;
						a {
							color: $color__text-main;
							@include border1;
							&:hover {
								color: $color__das-blue;
							}
						}
					}
				}
				.info.wrapper.left-column {
					width: 100%-$size__homepage-news-featured-image-width;
					float: left;
				}
				.info.wrapper.no-column {
					width: 100%;
				}
				.featured-news-image.wrapper.right-column {
					float: right;
					width: $size__homepage-news-featured-image-width;
					background-size: cover;
					background-position: center;
				}
			}
		}
	}
}