#home-primary {
	#main {
		section.slider {
			position: relative;
			display: block;
			margin: 0;
			#homepage-sidebar{
				width: $size__main-sidebar;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}
			.flexsider {
				width: 100%;
				.slides {
					.slide {
						.image-info.wrapper {
							position: relative;
							img {
								width: 100%;
							}
							.info {
								position: absolute;
								bottom: 10%;
								right: 10%;
								.type.box {
									background-color: $color__das-grey;
									padding: 5px 15px;
									font-size: $font__size-medium-small;
									display: inline-block;
									color: $color__text-dark;
									margin: 10px 0;
								}
								.title {
									color: white;
									font-size: $font__size-medium;
								}
							}
						}
					}
				}
			}
		}
	}
	section.featured-project.clear-bottom {
		display: block;
		margin: 0;
		.process.left-column {
			width: $size__homepage-process-width;
			float: left;
		}
		.featured-video.right-column {
			width: 100%-$size__homepage-process-width;
			float: right;
		}
	}
	section.news {
		position: relative;
		padding: 30px;
		background-color: $color__das-yellow;
		.link.box {
			position: absolute;
			top: 0;
			left: 48%;
			color: white;
			background-color: $color__das-blue;
			padding: 5px;
			h2 {
				margin: 0;
				font-weight: 500;
			}
		}
		.news.wrapper.is-container {
			.news.item.clear-bottom {
				background-color: $color__box-background-1;
				display: inline-block;
				width: (100%-(2*$size__homepage-news-margin-width*$size__homepage-news-span))/$size__homepage-news-span;
				margin: $size__homepage-news-margin-width;
				position: relative;
				.info.wrapper {
					padding: 15px;
					.date.box {
						color: $color__das-blue;
						font-size: $font__size-small;
					}
					.title {
						font-size: $font__size-medium-small;
						font-weight: 500;
					}
					.link.full-article {
						font-size: $font__size-medium-small;
						text-transform: uppercase;
						a {
							color: $color__text-main;
							@include border1;
						}
					}
				}
				.info.wrapper.left-column {
					width: 100%-$size__homepage-news-featured-image-width;
					float: left;
				}
				.info.wrapper.no-column {
					width: 100%;
				}
				.featured-news-image.wrapper.right-column {
					float: right;
					width: $size__homepage-news-featured-image-width;
					background-size: cover;
					background-position: center;
				}
			}
		}
	}
}