#home-primary {
	#main {
		section.slider {
			position: relative;
			display: block;
			margin: 0;
			#homepage-sidebar{
				width: $size__main-sidebar;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 3;		
                @media screen and (max-width: $mobilelandscapewidth) {
                    width: 100%;
                }
				.logo.wrapper {
					position: relative;		
                    @media screen and (max-width: $mobilelandscapewidth) {
                        width: $size__main-sidebar;
                        float: left;
                    }
					&:before {
						content: "";
						background-color: white;
						opacity: 0.8;
						width: 100%;
						height: 100%;
						z-index: -1;
						position: absolute;
						top: 0;
						left: 0;
					}
					#logo {
						width: $size__logo-width;
						margin: 0 auto;
						padding: 0;
						display: block;
						@include translateY(27%);
					}
				}
                > .mobile.hamburger {
                    color: white;
                    text-transform: uppercase;
                    font-size: $font__size-medium-large;
                    float: right;
                    margin: 20px;
                    display: none;
                    @media screen and (max-width: $mobilelandscapewidth) {
                        display: inline-block;
                    }
                }
                nav.mobile {
                    display: none;
                    position: fixed;
                    right: -100%;
                    top: 0;
                    width: $size__mobile-sidebar;
                    background-color: $color__das-blue;
                    z-index: 2;
                    overflow-y: scroll;
                    height: 100%;
                    padding: 0 5%;
                    text-align: left;
                    @media screen and (max-width: $mobilelandscapewidth) {
                        display: block;
                        width: $size__mobile-sidebar;
                        font-size: $font__size-medium;
                    }
                    @media screen and (max-width: $mobileportraitwidth) {
                        font-size: $font__size-medium-small;
                        width: 50%;
                    }
                    @media screen and (max-width: $mobiletinywidth) {
                        font-size: $font__size-small;
                        width: 60%;
                    }
                    .mobile.hamburger {
                        color: $color__das-white;
                        text-transform: uppercase;
                        font-size: $font__size-medium-large;
                        margin: 30px 0 8px 0;
                    }
                    .descriptor {
                        display: inline-block;
                        text-transform: uppercase;
                        font-weight: 700;
                        @media screen and (max-width: $mobilelandscapewidth) {
                            padding: 5px 0;
                        }
                        @media screen and (max-width: $mobiletinywidth) {
                            padding: 8px 0;
                        }
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        .descriptor {
                            display: inline-block;
                            text-transform: uppercase;
                            font-weight: 700;
                            @media screen and (max-width: $mobilelandscapewidth) {
                                padding: 5px 0;
                            }
                            @media screen and (max-width: $mobiletinywidth) {
                                padding: 8px 0;
                            }
                        }
                        li {
                            margin: 0;
                            list-style-type: none;
                            text-transform: uppercase;
                            @media screen and (max-width: $mobilelandscapewidth) {
                                padding: 5px 0;
                            }
                            @media screen and (max-width: $mobiletinywidth) {
                                padding: 8px 0;
                            }
                            a {
                                &.active {
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                    .social {
                        vertical-align: middle;
                        display: inline-block;
                        font-size: $font__size-large;
                        margin: 0;
                        position: relative;
                        @media screen and (max-width: $mobilelandscapewidth) {
                            padding: 5px 0 30px 0;
                        }
                        @media screen and (max-width: $mobiletinywidth) {
                            padding: 8px 0 30px 0;
                        }
                        li {
                            padding: 0 0 0 10px;
                            display: block;
                            float: left;
                            list-style: none;
                            color: white;
                            &:first-child {
                                padding: 0;
                            }
                            a {
                                color: inherit;
                            }
                        }
                    }
                }
				.nav-info.wrapper {
					padding: 110px 15% 50px 0;
					position: relative;	
					@media screen and (max-width: $mobilelandscapewidth) {
						display: none;
					}
					&:before {
						content: "";
						background-color: $color__das-blue;
						opacity: 0.8;
						width: 100%;
						height: 100%;
						z-index: -1;
						position: absolute;
						top: 0;
						left: 0;
					}
					#site-nav {
						text-align: right;
						margin: 0 0 50px 0;
						font-size: $font__size-medium;
						ul {
							margin: 0;
							padding: 0;
							> li {
								list-style: none;
								margin: 0;
								padding: 10px 0;
								color: $color__das-white;
								text-transform: uppercase;
								&:hover {
									@include translateX($size__homepage-sidebar-active-bar-width);
									> a {
										&:after {
											content: "";
											display: inline-block;
											height: 8px;
											background-color: white;
											width: $size__homepage-sidebar-active-bar-width;
											@include translateXY(48.5%,-15%);
										}
									}
								}
							}
						}
					}
					.company-info {
						text-align: right;
						margin: 50px 0 0 0;
						p {
							margin: 0;
							color: $color__das-white;
							font-size: $font__size-medium-small;
							padding: 0 0 0 5px;
						}
						.social.wrapper {
							margin: 15px 0 10px 0;
							font-size: $font__size-extra-large;
							.social {
								padding: 0;
								margin: 0;
								width: 100%;
								display: block;
								li {
									display: inline-block;
									padding: 0 0 0 10px;
								}
							}
						}
						.electronic-info {
							margin: 10px 0 15px 0;
							.company-name {
								margin: 10px 0 15px 0;	
							}
							.contact-email span {
								@include border5;
								display: inline-block;
								padding: 0;
							}
						}
						.address {
							margin: 15px 0 0 0;
						}
					}
				}
			}
			.das-slider {
				width: 100%;
				margin: 0 !important;
				min-height: 300px;
                z-index: 1;
				.slides {
					.slide {
						background-position: center;
						background-size: cover;
						.info {
							position: absolute;
							bottom: 10%;
							right: 5%;
							width: 30%;
							z-index: 2;
							@media screen and (max-width: $mobilelandscapewidth) {
								width: 43%;
							}
							@media screen and (max-width: $mobiletinywidth) {
								width: 100%;
								right: 0;
								text-align: center;
							}
							.type.box {
								background-color: $color__das-grey;
								padding: 5px 10px;
								font-size: $font__size-small;
								display: inline-block;
								color: $color__text-dark;
								margin: 5px 0;
								text-transform: uppercase;
							}
							.title {
								color: $color__das-white;
								font-size: $font__size-extra-large;
								font-weight: normal;
								margin: 5px 0;
								text-transform: lowercase;
							}
						}
					}
				}
			}
			.slider-nav {
				position: absolute;
				right: 5%;
				bottom: 8%;
				color: $color__das-grey;
				text-align: left;
				width: 30%;
                z-index: 2;
				@media screen and (max-width: $mobilelandscapewidth) {
					width: 43%;
					bottom: 5%;
				}
				@media screen and (max-width: $mobiletinywidth) {
					width: 100%;
					right: 0;
					text-align: center;
				}
				ul {
					margin: 0;
					padding: 0;
					li {
						margin: 0 0 0 5px;
						padding: 0;
						display: inline-block;
						width: 18%;
						@media screen and (max-width: $tabwidth) {
							width: 17%;
						}
						&:first-child {
							margin: 0;
						}
						&:hover, &.active {
							.rectangle {
								background-color: $color__das-blue;
							}
						}
						.rectangle {
							width: 100%;
							height: 7px;
							background-color: $color__das-grey;
						}
					}
				}
			}
		}
	}
	section.featured-project.clear-bottom {
		display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
        align-content: center;
		margin: 0;
		padding: 70px 50px 80px 50px;
		width: 100%;
		@media screen and (max-width: $mobilelandscapewidth) {
			flex-wrap: wrap;
            display: block;
			padding: 0;
		}
		.process.left-column {
			width: $size__homepage-process-width;
			padding: 0 110px 0 20px;
			@include border4;
			@media screen and (max-width: $midwidth) {
				width: 50%;
				padding: 0 55px 0 20px;
			}
			@media screen and (max-width: $mobilelandscapewidth) {
				width: 100%;
				display: block;
				padding: 20px;
			}
			.company-name {
				font-size: $font__size-medium-medium-small;
                font-weight: 700;
				color: $color__das-blue;
				text-transform: uppercase;
                margin: 20px 0;
			}
			.process-description {
				border: none;
				margin: 0;
				padding: 0;
				font-weight: 500;
				p {
					margin: 0;
					padding: 0;
					font-size: $font__size-extra-extra-large;
					@media screen and (max-width: $mobilelandscapewidth) {
						font-size: $font__size-medium;
					}
				}
			}
			.link.box {
				color: $color__das-white;
				background-color: $color__das-blue;
				padding: 4px 5px 2px 5px;
				display: inline-block;
				margin: 0  0 15px 0;
				a.link.full-article {
					font-size: $font__size-medium-small;
					color: inherit;
					text-transform: uppercase;
					display: block;
					line-height: 1;
				}
			}
			.process-image {}
		}
		.featured-video.right-column {
			width: 100%-$size__homepage-process-width;
			padding: 30px 0 0 0;
			@media screen and (max-width: $midwidth) {
				width: 50%;
			}
			@media screen and (max-width: $mobilelandscapewidth) {
				width: 100%;
				display: block;
				padding: 20px;
			}
			header.box {
				display: inline-block;
				margin: 10px 0;
				color: $color__das-white;
				background-color: $color__das-blue;
				padding: 5px;
				h2 {
					margin: 0;
					font-weight: 500;
					text-transform: uppercase;
					font-size: $font__size-medium-small;
					color: white;
				}
			}
			.video-section.wrapper {
				.video.left-column { 
					float: left;
					width: $size__homepage-process-featured-video-width;
					@media screen and (max-width: $midwidth) {
						width: 100%;
						float: none;
					}
					@media screen and (max-width: $mobilelandscapewidth) {
						width: 100%;
						float: none;
					}
					iframe {
						width: 100%;
					}
				}
				.description.right-column {
					float: right;
					width: 100%-$size__homepage-process-featured-video-width;
					padding: 0 20px;
					@media screen and (max-width: $midwidth) {
						width: 100%;
						float: none;
						padding: 20px 0 0 0;
					}
					@media screen and (max-width: $mobilelandscapewidth) {
						width: 100%;
						float: none;
						padding: 20px 0 0 0;
					}
					.title {
						margin: 0 0 15px 0;
						color: $color__text-main;
						font-size: $font__size-medium;
					}
					.video-description {
                        margin: 15px 0;
                        p {
                            font-size: $font__size-medium-medium-small;
                        }
					}
					.full-article.link {
                        margin: 0;
						color: $color__text-main;
						font-size: $font__size-medium-small;
						@include border1;
						display: inline-block;
						a {
							color: inherit;
							&:hover {
								color: $color__das-blue;
							}
						}
					}
				}
			}
		}
	}
	section.news {
		position: relative;
		padding: 30px 70px;
		background-color: $color__das-yellow;
		@media screen and (max-width: $mobilelandscapewidth) {
			width: 100%;
			padding: 35px 35px;
		}
		.link.box {
			position: absolute;
			top: 0;
			left: 50%;
			@include translateX(-50%);
			color: $color__das-white;
			background-color: $color__das-blue;
			padding: 5px;
			h2 {
				margin: 0;
				font-weight: 500;
				text-transform: uppercase;
				font-size: $font__size-medium-small;
				color: white;
			}
			&:hover {
				background-color: $color__das-grey;
			}
		}
		.news.wrapper.is-container {
			.news.item.clear-bottom {
				background-color: $color__box-background-1;
				display: inline-block;
				width: (100%-(2*$size__homepage-news-margin-width*$size__homepage-news-span))/$size__homepage-news-span;
				margin: $size__homepage-news-margin-width;
				position: relative;
				min-width: 220px;
				@media screen and (max-width: $tabwidth) {
					width: (100%-(2*$size__homepage-news-margin-width*2))/2;
					display: block;
					min-width: 0;
				}
				@media screen and (max-width: $mobilelandscapewidth) {
					width: 100%-(2*$size__homepage-news-margin-width);
				}
				.info.wrapper {
					padding: 15px;
					.date.box {
						color: $color__das-blue;
						font-size: $font__size-medium-small;
					}
					.title {
						font-size: $font__size-medium-medium-small;
						font-weight: 500;
						color: $color__text-main;
					}
					.link.full-article {
						font-size: $font__size-medium-small;
						text-transform: uppercase;
						a {
							color: $color__text-main;
							@include border1;
							&:hover {
								color: $color__das-blue;
							}
						}
					}
				}
				.info.wrapper.left-column {
					width: 100%-$size__homepage-news-featured-image-width;
					margin: 0 auto 0 0;
				}
				.info.wrapper.no-column {
					width: 100%;
				}
				.featured-news-image.wrapper.right-column {
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					z-index: 1;
					width: $size__homepage-news-featured-image-width;
					background-size: cover;
					background-position: center;
				}
			}
		}
	}
}
