#main {
	/*
	 * Title at top of pages
	 */
	article > header h1.title {
		font-size: $font__size-medium-large;
		color: $color__das-blue;
		text-align: left;
		margin: 0 0 10px 0;
		text-transform: uppercase;
		line-height: 1;
		@media screen and (max-width: $mobilelandscapewidth) {
			margin: 20px 0;
		}
	}
	/* --------------------------
	 * Landing pages
	 ----------------------------*/
	.isotope-footer-pagination.wrapper.clear-bottom {
		position: relative;
		> .left-column {
			float: left;
			display: block;
			margin: 0;
			width: 100%-$size__portfolio-news-video-landing-pagination-column-width;
		}
		.isotope-side-pagination.wrapper {
			position: relative;
			> .left-column {
				float: left;
				display: block;
				margin: 0;
				width: 100%-$size__portfolio-news-video-landing-pagination-column-width;
			}
			/*-----------------------------
			 * Portfolio Landing Specific
			 ------------------------------*/
			.project.is-container.left-column {
				.project.item {
					height: auto;
					width: (100%-($size__portfolio-landing-tile-margin*$size__portfolio-landing-tile-span))/$size__portfolio-landing-tile-span;
					margin: 0 $size__portfolio-landing-tile-margin $size__portfolio-landing-tile-margin 0;
					display: block;
					float: left;
					position: relative;
					@media screen and (max-width: $tabwidth) {
						width: (100%-($size__portfolio-landing-tile-margin*2))/2;
					}
					@media screen and (max-width: $mobilelandscapewidth) {
						width: (100%-($size__portfolio-landing-tile-margin*$size__portfolio-landing-tile-span))/$size__portfolio-landing-tile-span;
					}
					@media screen and (max-width: $mobileportraitwidth) {
						width: (100%-($size__portfolio-landing-tile-margin*2))/2;
					}
					&:hover {
						.title-type.wrapper {
							display: block;
						}
						.background.wrapper {
							display: block;
						}
					}
					img {
						width: 100%;
						display: block;
					}
					.title-type.wrapper {
						position: absolute;
						padding: 4%;
						display: none;
						z-index: 1;
						top: 0;
						left: 0;
						line-height: 1;
						.type.box {
							color: $color__text-main;
							background-color: $color__das-grey;
							font-size: $font__size-small;
							padding: 4px 7px;
							display: inline-block;
							text-transform: uppercase;
							line-height: 1;
						}
						.title {
							margin: 10px 0;
							color: $color__das-grey;
							font-size: $font__size-medium;
							font-weight: 500;
						}
					}
					.background.wrapper {
						position: absolute;
						display: none;
						width: 100%;
						height: 100%;
						z-index: 0;
						background-color: $color__background-dark;
						opacity: .6;
						top: 0;
						left: 0;
					}
				}
			}
			/*-------------------------------------
			 * Video Landing Specific
			 --------------------------------------*/
			.video.is-container.left-column {
				.video.item {
					height: auto;
					width: (100%-($size__video-landing-tile-margin*$size__video-landing-tile-span))/$size__video-landing-tile-span;
					margin: 0 $size__video-landing-tile-margin $size__video-landing-tile-margin 0;
					display: block;
					float: left;
					@media screen and (max-width: $tabwidth) {
						width: (100%-($size__video-landing-tile-margin*2))/2;
					}
					@media screen and (max-width: $mobilelandscapewidth) {
						width: (100%-($size__video-landing-tile-margin*$size__video-landing-tile-span))/$size__video-landing-tile-span;
					}
					@media screen and (max-width: $mobileportraitwidth) {
						width: (100%-($size__video-landing-tile-margin*2))/2;
					}
					iframe {
						
					}
				}
			}
			/* ---------------------
			 * News Landing Specific
			 ------------------------*/
			.news.is-container.left-column {
				.news.item {
					width: (100%-($size__news-landing-tile-margin*$size__news-landing-tile-span))/$size__news-landing-tile-span;
					margin: 0 $size__news-landing-tile-margin $size__news-landing-tile-margin*4 0;
					@include border3;
					display: inline-block;
					@media screen and (max-width: $tabwidth) {
						width: (100%-($size__news-landing-tile-margin*2*2))/2;
					}
					@media screen and (max-width: $mobilelandscapewidth) {
						width: (100%-($size__news-landing-tile-margin*2*$size__news-landing-tile-span))/$size__news-landing-tile-span;
					}
					@media screen and (max-width: $mobileportraitwidth) {
						width: (100%-($size__news-landing-tile-margin*2*2))/2;
					}
					header {
						display: block;
						.box.date.wrapper {
							line-height: 1;
							margin: 0 0 8px 0;
							.box.date {
								background-color: $color__box-dark;
								display: inline-block;
								padding: 5px 10px;
								margin: 0;
								font-size: $font__size-small;
								color: white;
							}
						}
						.featured-news-image {
							width: 100%;
							display: block;
							margin: 8px 0 10px 0;
						}
						.title {
							width: 100%;
							display: block;
							color: $color__text-dark;
							font-size: $font__size-medium-large;
							margin: 10px 0 15px 0;
						}
					}
					.copy {
						width: 100%;
						display: block;
						font-size: $font__size-medium;
						color: $color__text-main;
						margin: 15px 0;
					}
					.link.full-article {
						width: 100%;
						text-transform: lowercase;
						padding: 0 8px;
						margin: 15px 0;
						@include border9;
						font-weight: 700;
						a {
							color: $color__text-dark;
						}
					}
				}
			}
			> .right-column.pagination.wrapper {
				width: $size__portfolio-news-video-landing-pagination-column-width;
				display: block;
				float: right;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				.pagination.next-link {
					position: relative;
					top: 50%;
					text-align: center;
					font-size: 100px;
					color: $color__das-grey;
					@include translateY(-50%);
					a {
						color: inherit;	
						&:hover {
							color: $color__das-blue; 
						}				
					}
				}
			}
		}
		> .pagination.wrapper {
			margin: 20px 0;
		}
	}
	/* ----------------------
	 * Main Page
	 ------------------------*/
	.video-copy-affiliation.wrapper{
		.video-copy.wrapper {
			.video.wrapper {
				width: 35%;
				float: right;
				margin: 0 0 10px 50px;
				@media screen and (max-width: $mobileportraitwidth) {
					margin: 0 0 10px 10px;
				}
				.video {
					width: 100%;
					height: auto;
					iframe {
						width: 100%;
					}
				}
				.link.full-article {
					text-align: right;
					padding: 10px 0 0 0;
					font-size: $font__size-medium-small;
					text-transform: uppercase;
					a {
						color: $color__text-main;
						@include border1;
						&:hover {
							color:$color__das-blue;
						}
					}
				}
			}
			.copy {
				margin: 0 0 40px 0;
			}
		}
		.affiliation {
			display: block;
			width: 100%;
			.affiliation.wrapper {
				width: auto;
				display: table;
				margin: 60px auto 0 0;
				clear: both;
				.affiliation {
					display: inline-block;
					width: 300px;
					height: 130px;
					margin-bottom: 20px;			
					@media screen and (max-width: $mobilelandscapewidth) {
						width: 180px;
						height: auto;
					}
					img {
						max-width: 250px;
						max-height: 70px;
						width: auto;
						margin: 0 auto;
						height: auto;
						display: block;					
						@media screen and (max-width: $mobilelandscapewidth) {
							max-width: 150px;
						}
					}
					header {
						width: 100%;
						h3 {
							font-size: 10pt;
							text-transform: capitalize;
							text-align: center;
							color: $color__text-main;
						}
					}
				}
			}
		}
	}
	/*-----------------------------------
	 * Our Process Specific
	 ------------------------------------*/
	.copy.wrapper {
		.process-description.wrapper {
			
		}
		.graphic-steps.wrapper {
			margin: 0 $size__process-copy-margin;
			width: 100%-(2*$size__process-copy-margin);
			.process-image {
				display: block;
				width: 100%;
				margin: 0 auto;
			}
			.process-title.wrapper.clear-bottom {
				@include border8;
				ul {
					text-align: center;
					padding: 0;
					margin: 0 auto;
					width: 95%;
					li {
						display: block;
						float: left;
						@include border7;
						width: 25%;
						margin: 10px 0;
						&:first-child {
							border: none;
						}
					}
				}
			}
			.process-steps.wrapper {
				ol {
					padding: 0 0 0 10px;
					margin: 0 auto;
					width: 100%;
					li {
						padding: 0;
						list-style-type: decimal;
						display: list-item;
						width: 100%;
					}
				}
			}
		}
	}
	/*-----------------------------------
	 * Portfolio Individual Specific
	 ------------------------------------*/
	.gallery-portfolio.wrapper {
		position: relative;
		.gallery.wrapper {
			display: flex;
			flex-wrap: nowrap;
			align-items: stretch;
			align-content: stretch;
			justify-content: flex-start;
			position: relative;
			width: 100%;
			margin-bottom: 10px;
			@media screen and (max-width: $tabwidth) {
				flex-wrap: wrap;
			}
			.featured-image.left-column {
				flex: 0 1 auto;
				order: 1;
				width: $size__portfolio-single-featured-image-width;
				@media screen and (max-width: $tabwidth) {
					width: 100% !important;
				}
				img {
					width: 100%;
					display: block;
				}
			}
			.thumbnail.wrapper.right-column {
				flex: 0 1 auto;
				order: 2;
				width: 100%-$size__portfolio-single-featured-image-width;
				@media screen and (max-width: $tabwidth) {
					width: 100% !important;
				}
				.thumbnail {
					width: (100%-($size__portfolio-single-thumbnail-tile-margin*$size__portfolio-single-thumbnail-tile-span))/$size__portfolio-single-thumbnail-tile-span;
					margin: 0 0 $size__portfolio-single-thumbnail-tile-margin $size__portfolio-single-thumbnail-tile-margin;
					display: block;
					float: left;	
					@media screen and (max-width: $tabwidth) {
						width: (100%-($size__portfolio-single-thumbnail-tile-margin*7))/7 !important;
						margin: $size__portfolio-single-thumbnail-tile-margin $size__portfolio-single-thumbnail-tile-margin $size__portfolio-single-thumbnail-tile-margin 0;
					}
					.thumbnail-img{
						width: 100%;
						display: block;
					}
				}
			}
		}
		.portfolio {
			margin-top: 10px;
			padding-left: 10px;
			header {
				display: block;
				width: 100%;
				.type.box {
					color: white;
					background-color: $color__box-dark;
					display: inline-block;
					padding: 5px 15px;
					margin: 0;
					font-size: $font__size-medium-small;
					text-transform: uppercase;
				}
				.title {
					display: block;
					font-size: $font__size-medium-large;
					margin: 5px 0 0 0;
				}
				.location-completion-date {
					display: block;
					font-size: $font__size-medium;
					margin: 0 0 40px 0;
				}
				
			}
			.video-copy.wrapper {
				position: relative;
				display: block;
				margin-top: 20px;
				.video.wrapper.left-column.js-blocks {
					width: $size__portfolio-single-video-column-width;
					float: left;
					background-color: $color__das-grey;
					.video {
						display: block;
						width: 100%;
						iframe {
							width: 100%;
						}
					}
					.video-description.copy {
						display: block;
						width: 100%;
						padding: 3%;
					}
				}
				.copy.right-column.js-blocks {
					float: right;
					width: 100%-$size__portfolio-single-video-column-width;
					padding: 0 0 0 3/5*$size__page-right-margin;
				}
			}
			.copy.no-column {
				width: 93%;
				margin: 0 auto;
				
			}
		}
	}
	/*-------------------------------------
	 * News individual specific
	 --------------------------------------*/
	.news-social-sidebar.wrapper.clear-bottom {
		position: relative;
		.news.left-column.js-blocks {
			width: 100%-$size__news-single-sidebar-width;
			float: left;
			header {
				display: block;
				width: 100%;
				.date.box.wrapper {
					line-height: 1;
					margin: 0 0 5px 0;
					.date.box {
						color: white;
						background-color: $color__box-dark;
						display: inline-block;
						padding: 5px 15px;
						font-size: $font__size-small;
					}
				}
				.featured-news-image {
					margin: 5px 0 20px 0;
					display: block;
				}
				.title {
					display: block;
					font-size: $font__size-medium-large;
					margin: 20px 0;
				}
			}
			.copy {
				display: block;
				width: 100%;
				margin: 20px 0;
			}
			.box.link.wrapper {
				.box.link.next-news, .box.link.previous-news {
					color: white;
					background-color: $color__box-dark;
					display: inline-block;
					padding: 8px 20px;
					text-transform: uppercase;
					margin: 0 0 0 10px;
					font-size: $font__size-medium;
					&:first-child {
						margin: 0;
					}
					&:hover {
						background-color: $color__das-blue;
					}
				}
			}
		}
		.sidebar.social.right-column.js-blocks {
			width: $size__news-single-sidebar-width;
			float: right;
		}
	}
}