#main {
	/* --------------------------
	 * Landing pages
	 ----------------------------*/
	.flexslider-pagination.wrapper, .isotope-pagination.wrapper, {
		position: relative;
		.flexslider.left-column, .isotope.left-column {
			position: relative;
			left: 0;
			top: 0;
			display: block;
			margin: 0;
			width: 100%-$size__portfolio-landing-pagination-column-width;
			/*-----------------------------
			 * Portfolio Landing Specific
			 ------------------------------*/
			.slides {
				margin: 0;
				li {
					display: block;
					.project.wrapper {
						.project {
							height: auto;
							width: (98%-($size__portfolio-landing-tile-margin*2*$size__portfolio-landing-tile-span))/$size__portfolio-landing-tile-span;
							margin: $size__portfolio-landing-tile-margin;
							display: inline-block;
							position: relative;
							&:hover {
								.title-type.wrapper {
									display: block;
								}
								.background.wrapper {
									display: block;
								}
							}
							img {
								width: 100%;
							}
							.title-type.wrapper {
								position: absolute;
								padding: 1%;
								display: none;
								z-index: 1;
								top: 0;
								left: 0;
								.type.box {
									margin: 1%;
									color: $color__text-main;
									background-color: $color__das-grey;
									font-size: $font__size-small;
									padding: 2%;
									display: inline-block;
								}
								.title {
									margin: 1%;
									color: $color__das-grey;
									font-size: $font__size-medium-small;
								}
							}
							.background.wrapper {
								position: absolute;
								display: none;
								width: 100%;
								height: 100%;
								z-index: 0;
								background-color: $color__background-dark;
								opacity: .6;
								top: 0;
								left: 0;
							}
						}
					}
				}
			}
			/* ---------------------
			 * News Landing Specific
			 ------------------------*/
			.news.wrapper {
				.news {
					width: (100%-($size__news-landing-tile-margin*2*$size__news-landing-tile-span))/$size__news-landing-tile-span;
					margin: 0 $size__news-landing-tile-margin $size__news-landing-tile-margin*4 $size__news-landing-tile-margin;
					border-bottom: 1px dotted $color__das-grey;
					min-width: 150px; 
					header {
						display: block;
						.box.date {
							background-color: $color__box-dark;
							display: inline;
							padding: 5px 10px;
							margin: 0 0 8px 0;
							font-size: $font__size-small;
							color: white;
						}
						.featured-news-image {
							width: 100%;
							display: block;
							margin: 8px 0 10px 0;
						}
						.title {
							width: 100%;
							display: block;
							color: $color__text-dark;
							font-size: $font__size-medium-large;
							margin: 10px 0 15px 0;
						}
					}
					.copy {
						width: 100%;
						display: block;
						font-size: $font__size-medium;
						color: $color__text-main;
						margin: 15px 0;
					}
					.link.full-article {
						width: 100%;
						text-transform: lowercase;
						padding: 0 8px;
						margin: 15px 0;
						border-left: 3px solid $color__das-blue;
						a {
							color: $color__text-dark;
						}
					}
				}
			}
		}
		.right-column.pagination {
			width: $size__portfolio-landing-pagination-column-width;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
		}
		/*&:after {
			content: "";
			display: block;
			clear: both;
			top: 0;
			left:0;
			position: absolute;
			width: 100%;
			height: 100%;
		}*/
	}
	/* ----------------------
	 * Main Page
	 ------------------------*/ 
	.video-copy-affiliation.wrapper{
		.video-copy.wrapper {
			.video.wrapper {
				width: 35%;
				float: right;
				margin: 0 0 10px 20px;
				.video {
					width: 100%;
					height: auto;
					iframe {
						width: 100%;
					}
				}
				.link.full-article {
					text-align: right;
					padding-right: 10px;
					font-size: $font__size-small;
					a {
						color: $color__text-main;
					}
				}
			}
		}
		.affiliation {
			display: block;
			width: 100%;
			.affiliation.wrapper {
				width: auto;
				display: table;
				margin: 0 auto;
				.affiliation {
					display: inline-block;
					width: 300px;
					height: 130px;
					margin-bottom: 20px;
					border-bottom: 1px solid $color__das-grey;
					img {
						max-width: 250px;
						max-height: 70px;
						width: auto;
						margin: 0 auto;
						height: auto;
						display: block;
					}
					header {
						width: 100%;
						h3 {
							font-size: 10pt;
							text-transform: uppercase;
							text-align: center;
						}
					}
				}
			}
		}
	}
	/*-----------------------------------
	 * Portfolio Individual Specific
	 ------------------------------------*/
	.gallery-portfolio.wrapper {
		position: relative;
		.gallery.wrapper {
			position: relative;
			width: 100%;
			margin-bottom: 10px;
			.featured-image.left-column {
				position: relative;
				width: $size__portfolio-single-featured-image-width;
				img {
					width: 100%;
					display: block;
				}
			}
			.thumbnail.wrapper.right-column {
				position: absolute;
				right: 0;
				top: 0;
				width: 100%-$size__portfolio-single-featured-image-width;
				.thumbnail {
					width: (98%-($size__portfolio-single-thumbnail-tile-margin*$size__portfolio-single-thumbnail-tile-span))/$size__portfolio-single-thumbnail-tile-span;
					margin: 0 0 $size__portfolio-single-thumbnail-tile-margin $size__portfolio-single-thumbnail-tile-margin;
					display: block;
					float: left;
					.thumbnail-img{
						width: 100%;
						display: block;
					}
					&:after {
						content: "";
						display: block;
						clear: both;
						top: 0;
						left:0;
						position: absolute;
						width: 100%;
						height: 100%;
					}
				}
			}
			&:after {
				content: "";
				display: block;
				clear: both;
				top: 0;
				left:0;
				position: absolute;
				width: 100%;
				height: 100%;
			}
		}
		.portfolio {
			margin-top: 10px; 
			header {
				display: block;
				width: 100%;
				.type.box {
					color: white;
					background-color: $color__box-dark;
					display: inline-block;
					padding: 5px 15px;
					margin: 0;
					font-size: $font__size-small;
				}
				.title {
					display: block;
					font-size: $font__size-medium-large;
					margin: 5px 0 0 0;
				}
				.location-completion-date {
					display: block;
					font-size: $font__size-medium;
					margin: 0 0 20px 0;
				}
				
			}
			.video-copy.wrapper {
				position: relative;
				display: block;
				margin-top: 20px;
				&:before {
					width: $size__portfolio-single-video-column-width;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					background-color: $color__das-grey;
					z-index: -1;
					content:"";
				}
				.video.wrapper.left-column {
					width: $size__portfolio-single-video-column-width;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 0;
					.video {
						display: block;
						width: 100%;
						iframe {
							width: 100%;
						}
					}
					.video-description.copy {
						display: block;
						width: 100%;
						padding: 3%;
					}
				}
				.copy.right-column {
					position: relative;
					left: $size__portfolio-single-video-column-width;
					width: 100%-$size__portfolio-single-video-column-width;
					padding: 0 0 0 3/5*$size__page-right-margin;
				}
				&:after {
					content: "";
					display: block;
					clear: both;
					top: 0;
					left:0;
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
			.copy.no-column {
				width: 100%;
			}
		}
	}
	/*-------------------------------------
	 * News individual specific
	 --------------------------------------*/
	.news-social-sidebar.wrapper {
		position: relative;
		.news.left-column {
			width: 100%-$size__news-single-sidebar-width;
			position: relative;
			top: 0;
			left: 0;
			header {
				display: block;
				width: 100%;
				.date.box {
					color: white;
					background-color: $color__box-dark;
					display: inline-block;
					padding: 5px 15px;
					margin: 0 0 5px 0;
					font-size: $font__size-small;
				}
				.featured-news-image {
					margin: 5px 0 20px 0;
					display: block;
				}
				.title {
					display: block;
					font-size: $font__size-medium-large;
					margin: 20px 0;
				}
			}
			.copy {
				display: block;
				width: 100%;
				margin: 20px 0;
			}
			.box.link.next-news {
					color: white;
					background-color: $color__box-dark;
					display: inline-block;
					padding: 8px 20px;
					text-transform: uppercase;
					margin: 0;
					font-size: $font__size-medium;				
			}
		}
		.sidebar.social.right-column {
			width: $size__news-single-sidebar-width;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}