$size__site-main: 100%;
$size__site-sidebar: 25%;
$mobilelandscapewidth: 600px;
$mobileportraitwidth: 500px;
$tabwidth: 700px;
$midwidth: 900px;
$deskwidth: 1200px;

$size__header-height: 150px;
$size__main-sidebar: 25%;
$size__logo-width: 70%;
$size__logo-width-mobile: 20%;
$size__page-right-margin: 5%;

$size__homepage-sidebar-active-bar-width: 12%;
$size__homepage-process-width: 43%;
$size__homepage-process-featured-video-width: 55%;
$size__homepage-news-span: 3;
$size__homepage-news-margin-width: 2%;
$size__homepage-news-featured-image-width: 40%;

$size__video-landing-tile-span: 3;
$size__video-landing-tile-margin: 2%;

$size__portfolio-landing-tile-span: 3;
$size__portfolio-landing-tile-margin: 2%;
$size__portfolio-single-thumbnail-tile-span: 2;
$size__portfolio-single-thumbnail-tile-margin: 2%;
$size__portfolio-single-video-column-width: 30%;
$size__portfolio-single-featured-image-width: 84%;

$size__news-landing-tile-span: 3;
$size__news-landing-tile-margin: 1%;
$size__news-single-sidebar-width: 20%;

$size__process-copy-margin: 10%;

$size__portfolio-news-video-landing-pagination-column-width: 10%;

