$size__site-main: 100%;
$size__site-sidebar: 25%;
$tabwidth: 600px;
$midwidth: 900px;
$deskwidth: 1200px;

$size__header-height: 150px;
$size__main-sidebar: 25%;
$size__logo-width: 70%;
$size__page-right-margin: 5%;
$size__portfolio-landing-tile-span: 3;
$size__portfolio-landing-tile-margin: 2%;
$size__news-landing-tile-span: 3;
$size__news-landing-tile-margin: 1%;
$size__pagination-column: 10%;
